/* CSS Document */






@font-face {
    font-family:'Amiri';
    src: url('../fonts/Amiri.eot');
	src: url('../fonts/Amiri.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Amiri.woff2') format('woff2'),
		url('../fonts/Amiri.woff') format('woff'),
		url('../fonts/Amiri.svg#Amiri') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0021-2010;
}




body {
	background-color: #fff;
	color: #404041;
	font-family: 'Amiri', serif;
	font-size: 16px;
	line-height: 1.42857;
}
.top-bar {
	width: 100%;
	background-color: #fff;
}

.vtop-bar {
	color: #71514a;
	width: 100%;
	background-color: #fff;
}
.vtop-bar ul {
	list-style-type: none; font-family: 'Lato', sans-serif;
	padding: 0px;
	margin: 0px;
}
.vtop-bar li {
	list-style-type: none; padding: 0px 8px; font-family: 'Lato', sans-serif; 
	margin: 8px 0px; text-transform:uppercase;
	float: left;/*padding-top:10px; padding-left:0px; 
	padding-bottom:0px;*/
}
.vtop-bar a {
	font-size: 12px; font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: #5a5a5a;
}
.vtop-bar a:hover { font-family: 'Lato', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #b58b20;
}
.navbar-default {
	background: none;
	border-color: #2f2f2f;
}
.top-color {
	color: #FF0000;
	font-size: 12px!important;
}
.nav > li > a {
	display: block;
	padding: 9px 20px;
	position: relative;
	font-size: 16px;
}
.navbar {
	border: none;
	margin-bottom: 0px;
	min-height: 0px;
	position: relative;
	border-bottom: #645a53 solid 0px;
	border-top: #645a53 solid 0px;
}
.mar-top10 {
	margin-top: 10px;
}
.mar-top20 {
	margin-top: 20px;
}
.mar-top30 {
	margin-top: 30px;
}
.mar-top40 {
	margin-top: 40px;
}
.mar-top50 {
	margin-top: 50px;
}

.mar-bott10 {
	margin-bottom: 10px;
}

.mar-bott30 {
	margin-bottom: 30px;
}
.mar-bott20 {
	margin-bottom: 20px;
}


a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}

.dest-1{ display:none;}


.topcart{ display:none}


.mar-top10te {
	margin-top: 10px; margin-bottom:0px;
}

strike{ color:#d6d1d1;}


.item img {
	width: 100%;
}
.top-comm {
	width: 100%;
}
.top-co {
	color: #FFFFFF
}
.main-comm {
	width: 100%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #d8d8d8 !important;
}
.comm-text {
	width: 100%;
	padding: 4px 0px 8px 0px;
}
.smprice {
	color: #da261d;
	text-align: right;
	float: right;
}
.cart-c {
	font-size: 17px;
	color: #ed1c24
}
.text {
	font-size: 14px;
	color: 666;
	padding-left: 8px;
}
.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	font-size: 16px;
	color: #5a5a5a; letter-spacing:2px;
	/*font-weight: 700;*/
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: transparent;
	color: #b58b20;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: none;
	color: #b58b20;
}
.right-active {
	background-color: #ff0000;
}
.input-group .form-control {
	float: right;
	margin-bottom: 0;
	position: relative;
	z-index: 2;
}
.form-control {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc!important;
	border-radius: 0px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
}
.btn-default {
	background-color: #da251e;
	border-color: #ccc;
	color: #333;
}
.btn-info {
	background-color: #fff;
	border-color: #ccc;
	color: #333;
}
.btn-lg, .btn-group-lg > .btn {
	border-radius: 20px;
	font-size: 18px;
	line-height: 1.33333;
	padding: 6px 16px;
}
.btn-info:hover {
	background-color: #31b0d5;
	border-color: #269abc;
	color: #fff;
}
.no-padd {
	padding-left: 0px;
	padding-right: 0px;
}
.no-padd-right {
	padding-right: 0px;
}
.zoom_img {
	-moz-transition: -moz-transform 0.5s ease-in;
	-webkit-transition: -webkit-transform 0.5s ease-in;
	-o-transition: -o-transform 0.5s ease-in;
}
.zoom_img:hover {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.text1 {
	font-family: 'Amiri', serif;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 18px;
}
.text2 {
	font-family: 'Amiri', serif;
	font-weight: 600;
	color: #FFFFFF;
	font-size: 24px;
}
.text3 {
	font-family: 'Amiri', serif;
	font-weight: 300;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
}
.bord {
	border-top: #b5b5b5 dashed 1px;
}
h1 {
	font-family: 'Amiri', serif;
	font-weight: 600;
	color: #404041;
	font-size: 24px;
	text-align: center;
	border-top: #715d4f solid 1px;
	padding: 20px 0px;
}
h2 {
	font-family: 'Amiri', serif;
	font-weight: 600;
	color: #404041;
	font-size: 24px;
	/*border-bottom: #A7A7A7 solid 1px;*/
	/*padding: 0px 0px  20px 0px  ;*/ margin-top: 0px;
}
h4 {
	font-family: 'Amiri', serif;
	font-weight: 600;
	color: #000;
	font-size: 18px;
}
h3 {
	font-family: 'Amiri', serif;
	font-weight: 600;
	color: #404041;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0px; 
}
h5 {
	font-family: 'Amiri', serif;
	font-weight: 600;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}
h6 {
	font-family: 'Amiri', serif;
	font-weight: 600;
	color: #666;
	font-size: 17px;
}
.bpder {
	border: #dddada solid 1px;
}
.comm {
	width: 100%;
	float: left;
}
.box {
	width: 100%;
	border: #fff solid 1px;
	text-align: center;
	background-color: #fff;
	padding-bottom: 10PX;
	color: 000;
}
.box:hover {
	border: #0491e0 solid 1px;
	background-color: #f0efec;
	border: #CCCCCC solid 1px;
	padding-bottom: 10PX;
}
.offer {
	width: 100%;
}
.offer img {
	width: 100%;
}
.prod-bot {
	border-top: #e1e1e1 solid 1px;
	padding: 12px 0px;
}
.price {
	color: #ff4e00;
	font-size: 16px;
	font-weight: 600;
}
.price-big {
	color: #ff4e00;
	font-size: 18px;
	font-weight: 600;
}
a {
	color: #404041;
	text-decoration: none;
}
.md-in {
	width: 400px !important;
}
.btn-primary {
	background-color: #404041;
	border-color: #404041;
	color: #fff;
}
.btn-warning {
	background-color: #d9534f;
	border-color: #d9534f;
	color: #fff;
}


.full-section{ width:100%; max-width:1350px;}
.full-section img{ width:100%;}


.logu{ margin:24px 0px 3px 0px;}





.footer {
	width: 100%;
	background-color: #f4f4f4;
	padding-top: 50px;
	padding-bottom: 50px; border-top:#020202 solid 20px;
	text-align: left;
	font-size: 14px;
	text-decoration: none;
	color: #1a1919;
}
.footer ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.footer li {
	background-position: 0 .5em; text-align:center;
	list-style-type: none;
	padding-top: 3px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 3px;
	border-bottom: #565658 solid 0px;
}

.footer-bor{border-right: #bcbcbc solid 1px;}
.footer-borl{border-left: #bcbcbc solid 1px;}


.form-inline .form-control {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.footer a {
	font-size: 14px;
	text-decoration: none;
	color: #1a1919;
}
.footer a:hover {
	font-size: 14px;
	text-decoration: none;
	color: #fbad18;
}
.footer-bottom {
	width: 100%;
	font-size: 13px; text-align:center;
	background-color: #d6d6d6;
	padding: 12px 0px;
	color: #1a1919;/*border-top: #666 solid 1px;*/
}



.footer-bottom a {
	font-size: 13px;
	text-decoration: none;
	color: #fff;
}
.footer-bottom a:hover {
	font-size: 13px;
	text-decoration: none;
	color: #fbad18;
}


hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 10px;
    margin-top: 5px;
}




.dropdown:hover .dropdown-menu {
	display: block;
}
.value {
	position: absolute;
	top: 30px;
	left: 50%;
	margin: 0 0 0 -20px;
	width: 40px;
	text-align: center;
	display: block;
	/* optional */
  
	font-weight: normal;
	font-family: 'Amiri', serif;
	font-size: 14px;
	color: #333;
}
.price-range-both.value {
	width: 100px;
	margin: 0 0 0 -50px;
	top: 26px;
}
.price-range-both {
	display: none;
}
.value i {
	font-style: normal;
}
/*img{ width:100%;}*/

.cart-colo{ color:#fbad18; font-size:14px; font-weight:800;}



.carousel-control.left {
	background-image: inherit;
	background-repeat: repeat-x;
}
.carousel-control.right {
	background-image: inherit;
	background-repeat: repeat-x;
	left: auto;
	right: 0;
}


.searchbox{
    position:relative;
    min-width:30px;
    width:0%;
    height:30px;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#fff;
    width:100%;
    height:30px;
    margin:0;
    padding:0px 55px 0px 20px; border: none;
    font-size:14px;
    color:red;
}
.searchbox-input::-webkit-input-placeholder {
    color: #4f4e4e;
}
.searchbox-input:-moz-placeholder {
    color: #4f4e4e;
}
.searchbox-input::-moz-placeholder {
    color: #4f4e4e;
}
.searchbox-input:-ms-input-placeholder {
    color: #4f4e4e;
}

.searchbox-icon,
.searchbox-submit{
    width:30px;
    height:30px;
    display:block;
    position:absolute;
    top:0;
   font-family: 'Amiri', serif;
    font-size:14px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
   
    text-align:center;
    cursor:pointer;
    color:#000;
    background: none;
}



.searchbox-open{
    width:100%;
}

.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #d74b4b;
}

 .navbar-center{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }


.textprice{ font-size:18px;}

.butwidd{ width:100%;}

.btn-primary:hover {
    background-color: #fbad18;
    border-color: #fbad18;
    color: #fff;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 6px 15px;
}

.panel-default > .panel-heading {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}



.panel-group .panel {
		border-radius: 0;
		box-shadow: none;
		border-color: #EEEEEE;
	}

	.panel-default > .panel-heading {
		padding: 0;
		border-radius: 0;
		color: #212121;
		background-color: #FAFAFA;
		border-color: #EEEEEE;
	}

	.panel-title {
		font-size: 14px;
	}

	.panel-title > a {
		display: block;
		padding: 8px;
		text-decoration: none;
	}

	.more-less {
		float: right;
		color: #212121;
	}

	.panel-default > .panel-heading + .panel-collapse > .panel-body {
		border-top-color: #EEEEEE;
	}





.right-c{ padding-bottom:5px;}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}




@media (max-width: 770px) {
.navbar-default .navbar-nav > li > a {
	color: #2f2f2f;
	font-size: 14px;

	text-transform: uppercase;
}


.dest-1{ display: block;}



}





@media (max-width: 650px) {

.topcart{ display:block}

.topcart1{ display:none}

}
