.catlist {overflow: hidden;padding-bottom: 30px;
}
.catlist h2{
padding-left: 10px;
text-transform: uppercase; display: none;
}
.catgrid {
margin: 0;
border-right: 1px dotted #CCCCCC;
float: left;
width:188px;
padding: 0 17px;
margin: 30px 0 0;
}
.catlist .last {
border-right: none;
}
.catgrid ul li {
}

.catgrid ul li a {
color: #aaaaaa;
text-decoration:none;
line-height: 25px !important;
font-size: 13px
}
.catgrid ul li a:hover {
color: #666666;
text-decoration: underline;
}

.catlist_level_top a{
width: 155px;height: 96px;background:#575b70;text-align: center;border: 1px solid #575b70
}
.catlist_level_top a:hover{background: #000}
.catlist_level_top a.visited{background: #000}
.catlist_level_top h3 {
color: #666666;
font-size: 13px;
margin: 15px 0 10px;
text-transform: uppercase;
display: inline-block;
border-bottom: 1px solid #666666;
line-height: 15px;
}

.catlist_level_top img {
}