.pt_custommenu {
    position:relative;
    z-index:300;
    font-size: 14px;
    margin: 0 auto;
  text-align: center;
    width: 52%;
   /* background: #f7f7f7;*/
}
.pt_custommenu div.pt_menu {
    float: left;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
    padding:2px 20px;
    text-decoration: none;
    display:block;
    line-height: 32px;
    text-transform: uppercase;
    font-size: 16px;
   /* font-family: Open Sans Bold;*/
color: #666666;
}
.pt_custommenu div.pt_menu.act a,
.pt_custommenu div.pt_menu.active .parentMenu a,
.pt_custommenu #pt_menu_pt_item_menu_custom_menu.active span
{
color:#fbad18;
}
#pt_menu_pt_item_menu_custom_menu.active .parentMenu span,
#pt_menu_pt_item_menu_featured_custom.active .parentMenu span
{cursor: pointer;
color:#fbad18;
}
.pt_custommenu div.pt_menu.active {
background: #000000;}
.pt_custommenu div.pt_menu.act .itemSubMenu .itemMenuName:hover{color:#666666;}
.pt_custommenu div.pt_menu.act .itemSubMenu .itemMenuName{color: #aaaaaa;}
.pt_custommenu div.pt_menu.act .itemMenu .itemMenuName
#pt_menu_home a{padding-left: 0}
.pt_custommenu div.pt_menu.active {
}
#block2_pt_item_menu_featured_custom{margin: 0}
#popup_pt_item_menu_featured_custom{width: 760px !important ;}
.pt_custommenu div.popup {
position:absolute;
z-index:3000;
background-color:#fff;
text-align:left;
width: 904px;
padding: 0;
margin: 0;
border: 1px solid #eeeeee;
border-top: none;
}
.pt_custommenu div.pt_menu .parentMenu a:hover,
.pt_custommenu div.pt_menu .parentMenu span.block-title:hover,
.pt_custommenu #pt_menu_link ul li a.act,
.pt_custommenu #pt_menu_link ul li a:hover,
.pt_custommenu div.pt_menu.act {
color:#fbad18;
background: #fff;
}
.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height:25px;
}
.pt_custommenu .itemMenu h4.level1,
.pt_custommenu .itemMenu a.level1{
 font-size: 13px;
text-transform: uppercase;
font-weight: normal;
color: #666666 !important;
}
.pt_custommenu .itemMenu h4.level1:hover,
.pt_custommenu .itemMenu a.level1:hover {
/*    color: #ffa200 !important;*/
    text-decoration: underline;
}
.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3,
.pt_custommenu .itemMenu a.level1.nochild{
text-transform: none;
font-weight: normal;
font-size: 13px;
color: #aaaaaa;
/*background: url(../images/black-dot.png) no-repeat 0 11px;*/
}
.pt_custommenu .itemSubMenu a.level2:hover,
.pt_custommenu .itemMenu a.level1.nochild:hover{
color: #666666;
/*background: url(../images/black-dot2.png) no-repeat 5px 11px;*/
text-decoration: underline;
}
.pt_custommenu div.popup a.actParent {
    color: #000;
}
.pt_custommenu div.popup a.act {
    color:#666666 !important;
    text-decoration: underline;
}
.pt_custommenu div.column {
    float:left;
    width:200px; /* column width */
    margin-right:20px;
}
.pt_custommenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_custommenu div.itemSubMenu {
padding: 5px 0 0
}

.pt_custommenu .block2{
    margin-top: 10px;
    float: left;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
    padding: 30px;
}
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 2px 20px;
    display: block;
    line-height:32px
}
.pt_custommenu .clearBoth {
    clear:both;
}


div.custom-menu-bottom{}
.custom-menu-bottom img{width: 100%}