.pt_vmegamenu {
    font-size: 14px;
    padding:0;
    z-index: 1000;
}
.megamenu-title{background:#4c5367;padding: 18px;}
.megamenu-title h2{font-size: 14px;margin: 0;color:#fff;text-transform: uppercase;}
.pt_vmegamenu div.pt_menu {
    padding: 0px;
    /*width: 195px;*/
    position: relative;
}
.pt_vmegamenu div.popup {
    padding: 10px;
}
.pt_vmegamenu div.popup {
    padding:2px 0 2px 25px;
    display: none;
    position: absolute;
    left:52px !important;
    top:-2px !important;
    text-align: left;
    width: auto !important;
    z-index: 3000;
}
.box-popup {
    border: 1px solid #e5e5e3;
    background:  #FFFFFF;
    padding:20px 30px 30px 30px;
    margin: 0 0 0 -10px;
    float: left;
    border-left: none
}
/*.pt_vmegamenu div.pt_menu .parentMenu{*/
/*    width:100%;*/
/*}*/
.pt_vmegamenu div.pt_menu .parentMenu a,
.pt_vmegamenu div.pt_menu .parentMenu span.block-title{
    text-decoration: none;
    display:block;
    line-height: 21px;
    padding: 15px 30px 15px 27px;
    color: #777777;
    background: url(../images/bg-left-menu.png) no-repeat 95% 50%;
border: 1px solid #ddd;
border-top-color: #fff;
text-transform: capitalize;
}
.pt_vmegamenu div.pt_menu .noSubMenu a, .pt_vmegamenu div.pt_menu .noSubMenu span.block-title{background: none}

.pt_vmegamenu div.pt_menu .parentMenu span.block-title:hover, .pt_vmegamenu div.pt_menu .parentMenu a:hover{
  background: #f5f5f5 url(../images/bg-left-menu.png) no-repeat 95% 50% ;/*border-color: #f5f5f5*/  ;border-top-color: #fff
}
.pt_vmegamenu #pt_menu_link ul li a.act, .pt_vmegamenu #pt_menu_link ul li a:hover, .pt_vmegamenu div.pt_menu.act .parentMenu a{
  background: #f5f5f5 url(../images/bg-left-menu.png) no-repeat 95% 50% ;/*border-color: #f5f5f5 */  
}
.pt_vmegamenu div.pt_menu .parentMenu.noSubMenu a:hover, .pt_vmegamenu div.pt_menu .parentMenu.noSubMenu span.block-title:hover{
background-image: none    
}
.custom-menu-right { float: left; margin: 0;}
.pt_vmegamenu .column.blockright { width: 150px !important; }
.menu-right-title {
    background: url("../images/bg-bottom1-title.png") repeat-x left bottom;
    float: left;
    margin: 0 0 20px 0;
    width: 100%;
}
.menu-right-title h2 {
    background: url("../images/bg-f-title6.png") no-repeat scroll left bottom;
    color: #777777;
    font-family: 'titilliumwebsemibold';
    font-size: 16px;
    margin: 0;
    padding: 0 0 8px;
    text-transform: uppercase;
}
.menu-right-images { float: left;}
.m-images { float: left;}
.m-images.col1 { margin:20px 0 0;}
.pt_vmegamenu div.pt_menu .parentMenu {
}
.pt_vmegamenu div.pt_menu .parentMenu.noSubMenu{
   /* padding: 0 0 1px;*/
}
.pt_vmegamenu div.pt_menu.last .parentMenu.noSubMenu{
    border: 0;
}
/*.pt_vmegamenu div.pt_menu:hover,.pt_vmegamenu div.pt_menu .active{*/
/*    width: 400px;*/
/*}*/
.navleft-container { position: relative; z-index:100; float: left; width: 100%;margin: 0 0 20px}
.cms-index-index .navleft-container{margin: 0}
.pt_vmegamenu div.popup a {
    text-decoration: none;
    display:block;
}
.pt_vmegamenu .itemMenu h4.level1,
.pt_vmegamenu .itemMenu a.level1{
    color: #666666;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    width: 100%;
}
.pt_vmegamenu .itemMenu h4.level1,
.pt_vmegamenu .itemSubMenu h4.level2 span{
    color: #897725;
}
.pt_vmegamenu .itemMenu h4.level1:hover, .pt_vmegamenu .itemMenu a.level1:hover{
  text-decoration: underline;  
}
.pt_vmegamenu .itemSubMenu h4.level2,
.pt_vmegamenu .itemSubMenu a.level2,
.pt_vmegamenu .itemSubMenu h4.level3,
.pt_vmegamenu .itemSubMenu a.level3,
.pt_vmegamenu .itemMenu a.level1.nochild{
    color: #aaaaaa;
    text-transform: none;
    font-weight: normal;
    line-height: 25px;
    font-size: 13px;
    text-transform: capitalize;
}
.pt_vmegamenu .itemSubMenu h4.level2:hover,
.pt_vmegamenu .itemSubMenu a.level2:hover,
.pt_vmegamenu .itemSubMenu h4.level3:hover,
.pt_vmegamenu .itemSubMenu a.level3:hover,
.pt_vmegamenu .itemMenu a.level1.nochild:hover{
  color: #666666 ;text-decoration: underline; 
}
.pt_vmegamenu div.popup a.act{color: #666666 ;text-decoration: underline; }

.pt_vmegamenu div.column {
    float:left;
    width:170px;
    margin-right: 15px;
    padding-right:0;
}
.pt_vmegamenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_vmegamenu div.itemSubMenu {
    margin-top:10px;
}
.pt_vmegamenu .clearBoth {
    clear:both;
}
.pt_vmegamenu .block2{
    margin-top: 10px;
/*    display: inline-block;*/
}
.pt_vmegamenu #popup_home{
    display: none !important;
}
.pt_vmegamenu div.popup .block1{
    overflow: hidden;
}
.pt_vmegamenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
/*show right block*/
.pt_vmegamenu div.popup .floatleft{
    float: left;
}
.pt_vmegamenu div.popup .blockright img{
    max-width: 100%;
} 
.pt_vmegamenu .parentMenu .block-title{
    color: #1E7EC8;
}

.pt_vmegamenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_vmegamenu #pt_menu_link .parentMenu ul li{
    float: none;
    list-style: none;
}
.pt_vmegamenu #pt_menu_link .parentMenu ul li a{
    float: none;
    padding: 5px 10px 6px;
    display: block;
}
.pt_vmegamenu #pt_menu_link{
    padding: 0;
    width: 195px;
}
.pt_vmegamenu .wrap-popup{
    position: absolute;
    left: 195px;
    top: 0;
    width:1000px;
}
.pt_vmegamenu .wrap-popup:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.pt_vmegamenu div.pt_menu{
    padding: 0 !important;
}
@media (max-width: 1199px)  {
    .pt_vmegamenu .wrap-popup { left: 140px;}
    .pt_vmegamenu div.popup{left: 58px !important;}
}