/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
.ma-banner7-container { }
 
/* Browser Resets */
.ma-banner7-container .flex-container a:active,
.ma-banner7-container .flexslider a:active,
.ma-banner7-container .flex-container a:focus,
.ma-banner7-container .flexslider a:focus  {outline: none;}
.ma-banner7-container .slides,
.ma-banner7-container .flex-control-nav,
.ma-banner7-container .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.ma-banner7-container .flexslider {margin: 0; padding: 0;}
.ma-banner7-container .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.ma-banner7-container .flexslider .slides img {width: 100%; display: block;}
.ma-banner7-container .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.ma-banner7-container .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .ma-banner7-container .slides {display: block;} 
* html .ma-banner7-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .ma-banner7-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.ma-banner7-container .flexslider {padding: 0; position: relative; zoom: 1;}
.ma-banner7-container .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.ma-banner7-container .loading .flex-viewport {max-height: 300px;}
.ma-banner7-container .flexslider .slides {zoom: 1;}

.ma-banner7-container .carousel li {margin-right: 5px}


/* Direction Nav */
.ma-banner7-container .flex-direction-nav {*height: 0;}
.ma-banner7-container .flex-direction-nav a,
.nivo-directionNav a { width:29px; height:59px; margin: -15px 0 0; display: block; background:url(../images/arrows.png) no-repeat 0 0; position: absolute; top:45%; cursor: pointer; text-indent: -9999px; z-index: 9;border-radius: 5px }
.nivo-directionNav a:hover{background-position: 100% 100%;}
.ma-banner7-container .flex-direction-nav .flex-next,
.nivo-directionNav a.nivo-nextNav { right:0 }
.ma-banner7-container .flex-direction-nav .flex-prev,
.nivo-directionNav a.nivo-prevNav { left:0;background:url(../images/arrows2.png) no-repeat 100% 0;}
.nivo-directionNav a.nivo-prevNav:hover{background-position: 0 100%}
.ma-banner7-container .flexslider:hover .flex-next { }
.ma-banner7-container .flexslider:hover .flex-prev { }
.ma-banner7-container .flexslider:hover .flex-next:hover, .ma-banner7-container .flexslider:hover .flex-prev:hover {opacity: 1;}
.ma-banner7-container .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
/* Control Nav */
.ma-banner7-container .flex-control-nav,
.nivo-controlNav {position: absolute; bottom:10px; text-align: center;right: 15px}
.ma-banner7-container .flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.ma-banner7-container .flex-control-paging li a,
.nivo-controlNav a {width: 11px; height: 11px; display: block; background:#D3D3D3; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px;z-index: 9; }
.ma-banner7-container .flex-control-paging li a:hover,
.ma-banner7-container .flex-control-paging li a.flex-active,
.nivo-controlNav a:hover,
.nivo-controlNav a.active { background:#fffafa; cursor: pointer; }


.ma-banner7-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.ma-banner7-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.ma-banner7-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.ma-banner7-container .flex-control-thumbs img:hover {opacity: 1;}
.ma-banner7-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.ma-nivoslider {
	overflow: hidden;
}
.nivoslider {
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%; 
}
.nivoslider img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.nivo-controlNav {
    text-align: center;
}
.nivo-controlNav a {
    border: 0 none;
    display: inline-block;
    height: 16px;
    margin: 0 3px;
    text-indent: -9999px;
    width: 16px;
	cursor: pointer;
    position: relative;
    z-index: 9;
}


.banner7-caption {
	position: absolute;
 	left:0; 
 	top:0;	
	width: 100%;
	background: none;
	color: #fff;
	font-size: 16px;
	z-index: 999;
}
.banner7-title {
	position: absolute;
 	left:100px; 
 	top:50px;
	width: 300px;
	-webkit-transition:all 0.5s ease; 
  	   -moz-transition:all 0.5s ease;
     	-ms-transition:all 0.5s ease;
     	 -o-transition:all 0.5s ease;
        	transition:all 0.5s ease;   
}
.banner7-title h3 {
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
}
.banner7-des {
	position: absolute;
 	left:100px; 
 	top: 110px;
	width: 300px;
	-webkit-transition:all 1.5s ease; 
  	   -moz-transition:all 1.5s ease;
     	-ms-transition:all 1.5s ease;
     	 -o-transition:all 1.5s ease;
        	transition:all 1.5s ease;  
}
.banner7-readmore {
	position: absolute;
 	left:100px; 
 	top:200px; 
	-webkit-transition:all 1.5s ease; 
  	   -moz-transition:all 1.5s ease;
     	-ms-transition:all 1.5s ease;
     	 -o-transition:all 1.5s ease;
        	transition:all 1.5s ease;  
}
.banner7-readmore a {
	color: #fff;
	font-size: 20px; 
}
.ma-banner7-container .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}


/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

.nivo-caption {
  position:absolute;
 	left:0; 
 	top:0;	
	color:#fff;
	width:100%;
	z-index:8;
}
.nivo-html-caption {
    display: none;
}

.nivo-directionNav a.nivo-nextNav,.nivo-directionNav a.nivo-prevNav{
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
opacity:0;

}
.ma-banner7-container:hover .nivo-directionNav a.nivo-nextNav,
.ma-banner7-container:hover .nivo-directionNav a.nivo-prevNav{
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity:1;
-webkit-animation: moveFromRight 300ms ease;
-moz-animation: moveFromRight 300ms ease;
-ms-animation: moveFromRight 300ms ease;

}
.ma-banner7-container:hover .nivo-directionNav a.nivo-prevNav{
-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: alpha(opacity=100);
opacity:1;
-webkit-animation: moveFromLeft 300ms ease;
-moz-animation: moveFromLeft 300ms ease;
-ms-animation: moveFromLeft 300ms ease;	
}
